.intro {
  margin-top: 10px;
  color: #005ebf;
}

.mdi::before {
  color: white;
}

.footer {
  color: white;
  padding: 15px;
  border-top: solid;
}
.secondary,
.secondary a {
  background-color: #30aafe;
  color: white;
}

.image-box {
  height: 200px;
  width: 200px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.content-box {
  padding: 10px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project:not(.secondary),
.project:not(.secondary) a {
  color: #005ebf;
}

.project-image {
  text-align: center;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.project-title {
  text-align: center;
}

.project-description {
  padding: 15px;
}

.social-button-container {
  display: flex;
  justify-content: center;
}
