.navbar {
  border-bottom: solid 1px #0f4e95;
}
.hero {
  color: #0f4e95;
}

.intro {
  margin-top: 10px;
}

.mdi::before {
  color: blue;
}

.image-box {
  height: 200px;
  width: 200px;
  margin: auto;
}

.content-box {
  padding: 10px;
}

.project {
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-image {
  text-align: center;
  margin-bottom: 20px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.project-title {
  text-align: center;
}

.project-description {
  padding: 15px;
}

.social-button-container {
  display: flex;
  justify-content: center;
}
