.navbar {
  border-bottom: solid 1px #0f4e95;
}
.hero {
  color: #0f4e95;
}

.container {
  margin-top: 20px;
  color: #0f4e95;
}

.section {
  border: solid 1px #0f4e95;
  border-radius: 10px;
  padding: 15px;
}

h3.mx-auto.intro-header {
  margin-top: 10px;
}

.section-header, .row.design, .contact-section, .projects-section {
  margin-top: 20px;
}

.card {
  margin-top: 5px;
}
.headshot, .card.mx-auto.headshot-card {
  border: none;

}


.card-img-top.headshot {
  border: solid 1px #0f4e95;
  border-radius: 10px;
  padding: 0;
}

.intro {
  margin-top: 10px;
}

.card.project {
  margin-top: 20px;
  border: solid 1px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img.card-img-top {
  padding: 10px;
}
.contact {
  padding: 5px;
}

.bg-navy {
  background-color: #0f4e95;
}