$theme-color: #1f96f3;
$box-shadow-light: 0px 3px 3px 0px lightgrey;
$box-shadow-dark: 0px 3px 3px 0px #797979;

.portfolio {
  display: flex;
  flex-direction: column;

  .project,
  .bio {
    display: flex;
    width: 750px;
    height: 250px;
    margin: 20px auto;
    background-color: $theme-color;
    box-shadow: $box-shadow-light;
    border-radius: 10px;

    .project__image,
    .bio__image {
      width: 250px;
      widows: 250px;
      object-fit: cover;
      overflow: hidden;
      img {
        border-radius: 5px 0px 0px 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    .project__info,
    .bio__info {
      flex: 1;
      padding: 20px;
      color: white;
    }

    .bio__info {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }

    .project__badge-container {
      display: flex;
      a {
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .project,
    .bio {
      flex-direction: column;
      width: 100%;
      height: auto;

      .project__image,
      .bio__image {
        width: auto;
        height: auto;
        img {
          height: auto;
          border-radius: 5px 5px 0px 0px;
        }
      }
    }
  }
}

.contact-card {
  color: $theme-color;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 750px;
  height: 250px;
  margin: 20px auto;
  box-shadow: $box-shadow-light;
  border-radius: 10px;

  .contact-card__contacts-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
    height: auto;
  }
}

.badge {
  background-color: white;
  border-radius: 20px;
  padding: 0px 10px;
  box-shadow: $box-shadow-dark;
  margin: 10px;
  font-size: 12px;
}

.social-icon {
  height: 50px;
  width: 50px;
  margin: 20px;
}
