<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jonny Kalambay</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/styles.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../bootstrap.min.css"/> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"
  />
</head>

<body>
  <nav class="navbar navbar-light">
    <a class="navbar-brand hero" href="#">
      <span class='hero'>jonnykalambay.com</span>
    </a>
  </nav>

  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="content-box intro">
        <h3 class="mx-auto text-center">Jonny Kalambay</h3>
        <div class="image-box">
          <img class="img-fluid" src="https://s3.ca-central-1.amazonaws.com/jonnyk-misc/images/Jonathan+Kalambay_preview.jpeg" alt="Card image cap">
        </div>
        <p class="lead">
          I'm a web developer with a passion for technology and cultures. I also make tutorials on Medium and Youtube. When I'm not
          coding, I enjoy learning languages (fluent in French, Spanish and Japanese). Check out some of my projects below!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="project">
        <div class="project-image">
          <img class="img-fluid" src="https://picsum.photos/200/200" alt="project image">
        </div>
        <div class="project-text">
          <h4 class="project-title">Project Title</h4>
          <div class="project-description">
            Project description. Project description. Project description. Project description. Project description. Project description.
            Project description. Project description.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="project">
        <div class="project-image">
          <img class="img-fluid" src="https://picsum.photos/200/200" alt="project image">
        </div>
        <div class="project-text">
          <h4 class="project-title">Project Title</h4>
          <div class="project-description">
            Project description. Project description. Project description. Project description. Project description. Project description.
            Project description. Project description.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="project">
        <div class="project-image">
          <img class="img-fluid" src="https://picsum.photos/200/200" alt="project image">
        </div>
        <div class="project-text">
          <h4 class="project-title">Project Title</h4>
          <div class="project-description">
            Project description. Project description. Project description. Project description. Project description. Project description.
            Project description. Project description.
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <div class="social-button-container">
          <div class="social-button">
            <i class="mdi mdi-linkedin-box mdi-36px"></i>
          </div>
          <div class="social-button">
            <i class="mdi mdi-medium mdi-36px"></i>
          </div>
          <div class="social-button">
            <i class="mdi mdi-youtube-play mdi-36px"></i>
          </div>
          <div class="social-button">
            <i class="mdi mdi-instagram mdi-36px"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
</body>

</html>